@charset "utf-8";

/* ================

    base style

================ */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: block;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: block;
    min-width: 320px;
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "sans-serif";
    font-size: 15px;
    color: #333;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    /* margin: 72px auto 0; */
    width: 100%;
}

/* -----------------

header

------------------ */

.header {
    background-color: #fff;
    width: 100%;
    height: 72px;
    padding: 1em 0 1em 3em;
    margin: 0 auto;
    box-shadow: 0 14px 20px rgba(0, 0, 0, .14);
    align-items: center;
    z-index: 400;
    position: fixed;
    top: 0;
    left: 0;
}

.header img {
    display: block;
    width: 180px;
    height: auto;
}

.container {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    position: relative;
    z-index: 100;
    left: -45%;
}

.nav-toggle {
    display: none;
}

.nav-btn {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    margin: 30px 0 30px 30px;
    transition: .4s ease;
    position: relative;
}

.nav-btn:hover,
.nav-btn:focus {
    background-color: hsl(177, 100%, 55%);
}

.nav-btn span {
    position: absolute;
    background-color: #000;
    top: 20px;
    left: 10px;
    right: 10px;
    height: 2px;
    transition: .25s ease;
}

.nav-btn span:nth-child(1) {
    top: 14px;
}

.nav-btn span:nth-child(2) {
    top: 21px;
}

.nav-btn span:nth-child(3) {
    top: 28px;
}

.nav-toggle:checked+.nav-btn span:nth-child(1) {
    top: 21px;
    transform: rotate(45deg);
}

.nav-toggle:checked+.nav-btn span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked+.nav-btn span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg);
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .2);
    pointer-events: none;
    opacity: 0;
    transition: opacity .25s;
    z-index: 200;
}

.nav-toggle:checked~.nav-overlay {
    opacity: 1;
    pointer-events: auto;
}

.nav-list {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2em 0 0 2em;
    gap: 2em;
    top: 72px;
    right: 0;
    bottom: 0;
    gap: 0;
    width: 50%;
    max-width: 420px;
    list-style: none;
    transform: scaleX(0);
    transform-origin: right;
    pointer-events: none;
    transition: opacity .25s ease, transform .25s ease;
    opacity: 0;
    z-index: 400;
}

.nav-toggle:checked~.nav-list {
    opacity: 1;
    transform: scaleX(1);
    pointer-events: auto;
    transition-delay: .15s;
}

.nav-list li {
    padding-bottom: 1em;
}

.nav-list a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

.nav-list a::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
    transition: width .3s ease;
}

.nav-list a:hover::after {
    width: 25%;
}

@media screen and (min-width:865px) {

    /* --------------------

        header

    --------------------- */

    .nav-toggle:checked~.nav-list {
        transform: none;
        opacity: 1;
    }

    .nav-overlay,
    .nav-toggle:checked~.nav-overlay {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-btn span {
        display: none;
    }

    .nav-list {
        position: static;
        width: 100%;
        max-width: none;
        height: auto;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        visibility: visible;
        background: transparent;
        gap: 1em;
        padding: 0;
        margin: 2em 0 0 2em;
    }

    .nav-toggle:checked~.nav-list {
        opacity: 1;
        transform: scaleX(1);
        pointer-events: auto;
        transition-delay: .15s;
    }

    .nav-list li {
        padding-bottom: 1em;
    }

    .nav-list a {
        display: block;
        color: #333;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        position: relative;
    }

    .nav-list a::after {
        position: absolute;
        content: "";
        width: 0;
        left: 0;
        bottom: -2px;
        height: 1px;
        background-color: currentColor;
        transition: width .3s ease;
    }

    .nav-list a:hover::after {
        width: 25%;
    }

}

/* ====================

    SECTION

==================== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 50px 0;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 1em;
    align-items: stretch;
}

.section-title {
    font-family: arial;
    font-size: 30px;
    font-weight: 900;
}

@media screen and (min-width:865px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .sidebar {
        width: 250px;
        display: flex;
        flex-direction: column;
        top: 67px;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        height: fit-content;
        position: sticky;
        align-self: flex-start;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 1em;
        align-items: stretch;
    }

    .section-title {
        font-family: arial;
        font-size: 30px;
        font-weight: 900;
    }

}

/* -------------

    TOP

-------------- */

@media screen and (min-width:865px) {
    
}

/* --------------

    PROFILE

--------------- */

.pr-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.section-title {
    text-align: center;
    margin: 0 auto 2rem;
}

.pr-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.character-img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.pr-caption {
    width: 100%;
}

.name-block {
    text-align: left;
    margin: 1.25rem auto;
    width: fit-content;
}

.pr-name {
    text-align: left;
    display: inline-block;
    font-size: 20px;
}

.parent-sub-name-block {
    display: flex;
    gap: 1rem;
    width: fit-content;
}

@media screen and (max-width:350px) {

    .name-block {
        margin: 2rem auto;
    }

    .parent-sub-name-block {
        display: block;
    }
}

.parent-sub-name-block p {
    font-weight: 600;
    width: fit-content;
    white-space: nowrap;
}

.section-border {
    display: block;
    border-bottom: 2px solid #333;
    margin-bottom: 1.25rem;
}

.catch {
    text-align: left;
    width: fit-content;
    margin: 0 auto 2em;
    font-size: 18px;
    font-weight: 700;
}

.pr-txt {
    white-space: wrap;
    font-size: 14px;
    font-weight: 500;
}


.link-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    gap: 2rem 2.4rem;
    width: 80%;
    max-width: 700px;
    margin: 2rem auto 0;
    padding: 0 2rem 0 ;
}

.link-btn {
    background-color: #000;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    width: 180px;
    gap: 1.2em;
    padding: 10px 30px;
    border-radius: 50px;
    transition: background-color .4s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #fff;
    border: 1px solid #000;
    z-index: 1;
}

.link-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s ease;
}

.link-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.link-btn:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
}

.link-img {
    display: block;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.link-btn:hover .link-img {
    filter: brightness(1) invert(1);
}

.link-txt {
    font-size: 13px;
    font-weight: 600;
    z-index: 10;
}

.link-btn:hover .link-txt {
    color: #333;
}

/* ---------------

    DETAIL

---------------- */

.content-header {
    width: 100%;
    margin: 2rem auto 0;
    padding: 0 1rem;
    text-align: left;
}

.content-title {
    font-family: arial;
    border-bottom: 1px solid #333;
    padding-bottom: 1.25rem;
}

.content-container {
    margin: 0 auto 0;
    padding: 0 1rem;
}

.content-txt {
    font-weight: 700;
    margin-bottom: .5rem;
}

.tags {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content-list {
    list-style: none;
    margin: 1.25rem 0;
    border-bottom: 1px solid #333;
    padding-bottom: 1.25rem;
}

.content-list span a {
    text-decoration: none;
    color: #333;
    position: relative;
}

.content-list span a::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
    transition: width .3s ease;
}

.content-list span a:hover::after {
    width: 100%;
}

.content-list p {
    list-style: none;
}

.content-item-small {
    display: flex;
    align-items: center;
}

.content-item-small:last-child {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #333;
}

.content-item-small p {
    width: 100%;
}

.content-item-small a {
    color: #333;
    text-decoration: none;
    position: relative;
}

.content-item-small a::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
    transition: width .3s ease;
}

.content-item-small a:hover::after {
    width: 100%;
}

@media screen and (min-width:865px) {

    /* --------------

        PROFILE

    --------------- */

    .pr-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 0 1rem;
        width: fit-content;
    }

    .section-title {
        text-align: center;
        margin: 0 auto 2rem;
    }

    .pr-caption {
        margin-left: 1.25rem;
    }

    .name-block {
        text-align: left;
        margin: 0 0 1.25rem;
        width: fit-content;
    }

    .catch {
        text-align: left;
        width: fit-content;
        margin: 0 0 1.25rem;
        font-size: 18px;
        font-weight: 700;
    }

    .pr-table {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .character-img {
        display: block;
        width: 250px;
        height: auto;
        margin: 0 auto;
    }

    .pr-caption {
        width: 100%;
    }

    .parent-sub-name-block {
        display: flex;
        gap: 1rem;
        width: fit-content;
        margin-top: 10px;
    }

    .pr-name {
        text-align: left;
        display: inline-block;
    }

    .parent-sub-name-block p {
        width: fit-content;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 700;
        font-family: arial;
    }

    .section-border {
        display: block;
        border-bottom: 2px solid #333;
        margin-bottom: 1.25rem;
        width: 100%;
    }

    .pr-txt {
        white-space: wrap;
        font-size: 14px;
        font-weight: 500;
    }

    .link-container {
        margin: 2rem 0 0 1rem;
    }

    #detail {
        width: 90%;
    }

}

/* ----------------

    WORKS

----------------- */


@media screen and (min-width:865px) {
    
}

/* ---------------

    LINK

---------------- */

@media screen and (min-width:865px) {
    
}

/* ----------------

footer

------------------ */

.footer {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.footer img {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto 2em;
}

.footer nav {}

.foot-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.foot-link {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

.foot-link::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
    transition: width .3s ease;
}

.foot-link:hover::after {
    width: 100%;
}


@media screen and (min-width:768px) {
    
    /* -------------------
    
        footer
    
    -------------------- */

    .footer {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 3em;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer nav {
        margin: 0 5em 2em 0;
    }

    .foot-list {
        display: flex;
        flex-direction: row;
    }

    /* .foot-item {} 現状触らない */

    /* .foot-link {} 現状触らない */

}
